language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t alexvarmon/testimage -f ./client/Dockerfile.dev . 

script:
  - docker run -e CI=true alexvarmon/testimage npm run test

after_success:
  - docker build -t varmon/prodmulti-client ./client
  - docker build -t varmon/prodmulti-nginx ./nginx
  - docker build -t varmon/prodmulti-server ./server
  - docker build -t varmon/prodmulti-worker ./worker
  # Log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take the images and push them to docker hub
  - docker push -t varmon/prodmulti-client
  - docker push -t varmon/prodmulti-nginx 
  - docker push -t varmon/prodmulti-server
  - docker push -t varmon/prodmulti-worker  
